[Unit]
Description=Verdis Bootnode #%i
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/opt/verdis-chain-rust/target/release/verdis \
  --chain /opt/verdis-chain-rust/multi-node/chain-spec.json \
  --base-path /opt/verdis-chain-rust/data-bootnode-%i \
  --port %i \
  --node-key-file /opt/verdis-chain-rust/multi-node/keys/boot-%i.node.key \
  --no-telemetry
Restart=always
RestartSec=10
User=root
StandardOutput=append:/var/log/verdis-bootnode-%i.log
StandardError=append:/var/log/verdis-bootnode-%i.log

[Install]
WantedBy=multi-user.target
