[Unit]
Description=Verdis RPC Node #%i
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/opt/verdis-chain-rust/target/release/verdis \
  --chain /opt/verdis-chain-rust/multi-node/chain-spec.json \
  --base-path /opt/verdis-chain-rust/data-rpc-%i \
  --rpc-external \
  --rpc-cors all \
  --rpc-methods Safe \
  --rpc-port %i \
  --ws-external \
  --ws-port 9944 \
  --port %i \
  --no-telemetry
Restart=always
RestartSec=10
User=root
StandardOutput=append:/var/log/verdis-rpc-%i.log
StandardError=append:/var/log/verdis-rpc-%i.log

[Install]
WantedBy=multi-user.target
