# Verdis Chain Code Owners
# Default owners for everything
* @verdischain

# Node
/node/ @verdischain

# Runtime
/runtime/ @verdischain

# Pallets
/pallets/dpos/ @verdischain
/pallets/amm-dex/ @verdischain
/pallets/eco/ @verdischain
/pallets/tokenomics/ @verdischain
/pallets/vesting/ @verdischain
/pallets/presale/ @verdischain
/pallets/storage/ @verdischain
/pallets/fungible-tokens/ @verdischain

# Chain specs
/chain-specs/ @verdischain

# CI/CD
/.github/workflows/ @verdischain
