[Unit]
Description=Verdis Blockchain Node 2 (Peer)
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/verdis --dev --rpc-port 9934 --port 30334 --bootnodes /ip4/127.0.0.1/tcp/30333/p2p/12D3KooWAaYqLWX2iHp6CKtfRt6yCZ8gRDQvP6LdCZ3RFNCUiusq --rpc-cors all --unsafe-rpc-external --rpc-methods unsafe --no-mdns
Restart=always
RestartSec=5
User=root
StandardOutput=append:/var/log/verdis-node2.log
StandardError=append:/var/log/verdis-node2.log

[Install]
WantedBy=multi-user.target
